.split-wrapper {
  $button-color: #cfcdce;
  $button-hover-color: #b3b2b3;

  position: relative;
  width: 100%;
  height: 100%;

  .split-pane {
    position: absolute;
  }
  
  .split-trigger {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;

    &-handler {
      background: #f8f8f9;
      border: solid #dcdee2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-button {
      position: relative;
      background: $button-color;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition: all .2s;
      border-radius: 2px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        border: 2px solid transparent;
        transition: all .2s;
      }
    
      &.left-full {
        margin-bottom: 3px;
  
        &::before {
          border-left-color: $button-color;
          border-bottom-color: $button-color;
          top: -3px;
        }
  
        &::after {
          border-top-color: $button-color;
          border-left-color: $button-color;
          bottom: -3px;
        }

        &:hover {
          &::before {
            border-left-color: $button-hover-color;
            border-bottom-color: $button-hover-color;
          }
    
          &::after {
            border-top-color: $button-hover-color;
            border-left-color: $button-hover-color;
          }
        }
      }
    
      &.right-full {
        margin-top: 3px;
  
        .split-icon-wrapper {
          transform: rotate(180deg);
        }
  
        &::before {
          border-right-color: $button-color;
          border-bottom-color: $button-color;
          top: -3px;
        }
  
        &::after {
          border-top-color: $button-color;
          border-right-color: $button-color;
          bottom: -3px;
        }

        &:hover {
          &::before {
            border-right-color: $button-hover-color;
            border-bottom-color: $button-hover-color;
          }
    
          &::after {
            border-top-color: $button-hover-color;
            border-right-color: $button-hover-color;
          }
        }
      }

      &.top-full {
        margin-right: 3px;

        .split-icon-wrapper {
          transform: rotate(90deg);
        }

        &::before {
          border-right-color: $button-color;
          border-top-color: $button-color;
          left: -3px;
        }

        &::after {
          border-left-color: $button-color;
          border-top-color: $button-color;
          right: -3px;
        }

        &:hover {
          &::before {
            border-right-color: $button-hover-color;
            border-top-color: $button-hover-color;
          }

          &::after {
            border-left-color: $button-hover-color;
            border-top-color: $button-hover-color;
          }
        }
      }

      &.bottom-full {
        margin-left: 3px;

        .split-icon-wrapper {
          transform: rotate(-90deg);
        }

        &::before {
          border-right-color: $button-color;
          border-bottom-color: $button-color;
          left: -3px;
        }

        &::after {
          border-left-color: $button-color;
          border-bottom-color: $button-color;
          right: -3px;
        }

        &:hover {
          &::before {
            border-right-color: $button-hover-color;
            border-bottom-color: $button-hover-color;
          }

          &::after {
            border-left-color: $button-hover-color;
            border-bottom-color: $button-hover-color;
          }
        }
      }
  
      &:hover {
        background: $button-hover-color;
      }
    }
  }

  .split-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &.split-moving {
    user-select: none;

    .split-pane {
      z-index: -1;
    }
  }

  &.split-transition {
    .split-pane,
    & > .split-trigger,
    .split-trigger-handler {
      transition: all .3s;
      overflow: hidden;
    }
  }

  &.left-full {
    .split-pane {
      &.left-pane {
        padding-right: 6px;
      }

      &.right-pane {
        overflow: hidden;
      }
    }

    & > .split-trigger {
      .split-trigger-handler {
        transform: translateX(-100%);
      }
  
      .split-trigger-button {
        &.left-full {
          display: none;
        }
  
        &.right-full {
          margin-top: 0;
        }
      }
    }
  }

  &.right-full {
    .split-pane {
      &.left-pane {
        overflow: hidden;
      }

      &.right-pane {
        padding-left: 6px;
      }
    }

    & > .split-trigger {
      .split-trigger-button {
        &.left-full {
          margin-bottom: 0;
        }
  
        &.right-full {
          display: none;
        }
      }
    }
  }

  &.top-full {
    .split-pane {
      &.top-pane {
        padding-bottom: 6px;
      }

      &.bottom-pane {
        overflow: hidden;
      }
    }

    & > .split-trigger {
      .split-trigger-handler {
        transform: translateY(-100%);
      }

      .split-trigger-button {
        &.top-full {
          display: none;
        }
  
        &.bottom-full {
          margin-left: 0;
        }
      }
    }
  }

  &.bottom-full {
    .split-pane {
      &.top-pane {
        overflow: hidden;
      }

      &.bottom-pane {
        padding-top: 6px;
      }
    }

    & > .split-trigger {
      .split-trigger-button {
        &.top-full {
          margin-right: 0;
        }
  
        &.bottom-full {
          display: none;
        }
      }
    }
  }

  &.left-full,
  &.right-full,
  &.top-full,
  &.bottom-full {
    & > .split-trigger {
      .split-trigger-handler {
        cursor: default !important;
      }
    }
  }

  &.horizontal {
    .split-pane {
      top: 0;
      bottom: 0;

      &.left-pane {
        left: 0;
        padding-right: 3px;
      }
    
      &.right-pane {
        right: 0;
        padding-left: 3px;
      }
    }

    & > .split-trigger {
      top: 50%;
      width: 0;
      height: 100%;

      .split-trigger {
        &-handler {
          width: 6px;
          height: 100%;
          border-left-width: 1px;
          border-right-width: 1px;
          border-top-width: 0;
          border-bottom-width: 0;
          cursor: col-resize;
          flex-direction: column;
        }
  
        &-button {
          width: 4px;
          height: 28px;
        }
      }
    }
  }

  &.vertical {
    .split-pane {
      left: 0;
      right: 0;

      &.top-pane {
        top: 0;
        padding-bottom: 3px;
      }

      &.bottom-pane {
        bottom: 0;
        padding-top: 3px;
      }
    }

    & > .split-trigger {
      left: 50%;
      width: 100%;
      height: 0;

      .split-trigger {
        &-handler {
          width: 100%;
          height: 6px;
          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 1px;
          border-bottom-width: 1px;
          cursor: row-resize;
          flex-direction: row;
        }
  
        &-button {
          width: 28px;
          height: 4px;
        }
      }
    }
  }
}
